project_name = "sightcall-qa-api"
project_id = "sightcall-qa-api"
billing_account_id = "0123456789-0123456789-0123456789"
billing_user_email = "example@example.com"
credentials_file = "terraform-key.json"